<div class="navigation">
    <ul>
        <li>
            <a routerLink="/home">
                <span class="icon">
                    <ion-icon name="logo-apple"></ion-icon>
                </span>
                <span class="title">Maharat</span>
            </a>
        </li>
        <li>
            <a routerLink="/home">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Voir Site</span>
            </a>
        </li>

        <li>
            <a routerLink="/gererutilisateur">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Gérer utilisateurs</span>
            </a>
        </li>
        <li>
            <a routerLink="/categorie">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Catégories</span>
            </a>
        </li>
        <li>
            <li>
                <a routerLink="/adminservice">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">services</span>
                </a>
            </li>
            <li>
            <a routerLink="">
                <span class="icon">
                    <ion-icon name="help-outline"></ion-icon>
                </span>
                <span class="title">Messages</span>
            </a>
        </li>
       

        <li>
            <a (click)="logout()">
                <span class="icon">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </span>
                <span class="title">Déconnecter</span>
            </a>
        </li>
    </ul>
</div>