<!-- =============== Navigation ================ -->
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a routerLink="">
                    <span class="icon">
                        <ion-icon name="logo-apple"></ion-icon>
                    </span>
                    <span class="title">Brand Name</span>
                </a>
            </li>

            <li>
                <a routerLink="/home">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Voir Site</span>
                </a>
            </li>

            <li>
                <a routerLink="/profil">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Profil</span>
                </a>
            </li> 
            <li>
                <a routerLink="/Demandes">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Mes Demandes</span>
                </a>
            </li>
            <li>
                <a routerLink="/demandeemploi">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Demande d'emploi</span>
                </a>
            </li>
            <li>
                <a routerLink="/commandeService">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Commande services</span>
                </a>
            </li>


            <li>
                <a routerLink="">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Notifications</span>
                </a>
            </li>

        

            <li>
                <a routerLink="">
                    <span class="icon">
                        <ion-icon name="help-outline"></ion-icon>
                    </span>
                    <span class="title">Messagerie</span>
                </a>
            </li>

            <li>
                <a routerLink="">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Déconnecter</span>
                </a>
            </li>

          
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
  

</div>
 

<!-- =========== Scripts =========  -->
<script src="assets/js/main.js"></script>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>