<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<table>
  <thead>
    <tr>
      <th>Provider Name</th>
      <th>Offer Price</th>
      <th>Date Sent</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let offre of offres">
      <td>{{ offre.providerName }}</td>
      <td>{{ offre.offerPrice }}</td>
      <td>{{ offre.dateSent }}</td>
      <td>
        <fa-icon [icon]="offre.status === 'accepted' ? ['fas', 'check'] : ['fas', 'times']"></fa-icon>
        <mat-badge *ngIf="offre.status === 'sent'">Sent</mat-badge>
        <mat-badge *ngIf="offre.status === 'accepted'" color="primary">Accepted</mat-badge>
        <mat-badge *ngIf="offre.status === 'rejected'" color="warn">Rejected</mat-badge>
      </td>
    </tr>
  </tbody>
</table>

  
</body>
</html>