<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <title>Document</title>
</head>
<body>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Demande</th>
          <th>Nom du prestataire</th>
          <th>Prix de l'offre</th>
          <th>Date d'envoi de l'offre</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offre of offres ">
          <td class="status-cell">
            <i class="fas fa  fa-{{offre.statut === 'accepte' ? 'check' : 'times'}}"></i>
            <span class="status-badge {{offre.statut}}">{{offre.statut}}</span>
          </td>
          <td>{{offre.user_id}}</td>
          <td>{{offre.prix}}</td>
          <td>{{offre.created_at| date:'yyyy-MM-dd'}}</td>
          <td>
            <button class="accept-button" (click)="acceptOffre(offre.id)" >
              <i class="fas fa fa-check"></i>
              Accepter l'offre</button>
            <button  class="reject-button" >
              Refuser l'offre
              <i class="fas fa fa-times"></i>
              
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</body>
</html>