<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar class="fixed-top"></app-navbar>

  <div class="container-fluid my-3">
   <div class="f">
    <div class="row mt-3">
      <div class="search">
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="searchTitle" (input)="filterJobsByTitle(searchTitle)" placeholder="Search by job title...">
        </div>
        
        
      </div>
      <div class="button">
        <button class="btn btn-primary" routerLink="/serviceform">Ajouter un service</button>
      </div>

      
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let job of filteredJobs ">
              <td>{{ job.id }}</td>
              <td>
                <ng-container *ngIf="editingJob === job; else showTitleInput">
                  <input type="text" [(ngModel)]="editingJob.title" class="form-control">
                </ng-container>
                <ng-template #showTitleInput>{{ job.title }}</ng-template>
              </td>
              <td>
                <ng-container *ngIf="editingJob === job; else showDescriptionInput">
                  <input type="text" [(ngModel)]="editingJob.description" class="form-control">
                </ng-container>
                <ng-template #showDescriptionInput>{{ job.description }}</ng-template>
              </td>ss
              <td>
                <ng-container *ngIf="editingJob === job; else showPrice">
                  <div class="input-group">
                    <input type="number" [(ngModel)]="editingJob.price_max" class="form-control">
                    <span class="input-group-text">-</span>
                    <input type="number" [(ngModel)]="editingJob.price_min" class="form-control">
                  </div>
                </ng-container>
                <ng-template #showPrice>{{ job.price_max }} - {{ job.price_min }}</ng-template>
              </td>
              <td>
                <ng-container *ngIf="editingJob === job; else showButtons">
                  <button class="btn btn-primary" (click)="saveJob()">Save</button>
                  <button class="btn btn-secondary ms-2" (click)="cancelEdit()">Cancel</button>
                </ng-container>
                <ng-template #showButtons>
                  <button class="btn btn-secondary" (click)="editJob(job)">Edit</button>
                  <button class="btn btn-secondary ms-2" (click)="deleteJob(job.id)">Delete</button>
                </ng-template>
              </td>
           
</tr>
      </tbody>
    </table>
  </div>
</div>
</div>
   </div>
  
</body>
</html>