<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>
  <div class="f">
    <h1>My Jobs</h1>
    <section>
      <button class="glow-on-hover" routerLink="/serviceform">Ajouter un service</button> 
    </section>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price </th>
          <th>Action</th>
      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.id }}</td>
          <td>{{ job.title }}</td>
          <td>{{ job.description }}</td>
          
          <td><img [src]="job.pictureUrl" alt="Job Picture" width="100"></td>
            <td>
                        
            </td>
        </tr>
      </tbody>
    </table>
  </div>


</body>
</html>

