<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar class="fixed-top"></app-navbar>

 <div class="main">
  <div class="container my-3 ">
    <div class="row">
 <div class="col-md-12">
  <div class="d-flex justify-content-between mb-3 margin_top90">
    <h2 class="title_page">Service List</h2>
    <button class="btn btn-success" routerLink="/serviceform">Add Service</button>
  </div>
</div>
    </div>
    <div class="row">
       <div class="col-md-12">
        <input type="text" [(ngModel)]="searchTitle" (input)="filterJobsByTitle(searchTitle)"
        class="form-control" placeholder="Rechercher par nom de service..." class="search_bar">
      </div>
    </div>

    <div class="row"> 
     <div class="col-md-12  "> 
         <div class="table-responsive">
           <table class="table   table-hover">
             <thead>
             <tr>
               <th>ID</th>
               <th>Title</th>
               <th>Description</th>
               <th>Prix moyen pour une heure de travail</th>
               <th>Action</th>
             </tr>
           </thead>
           <tbody>
             <tr  *ngFor="let job of filteredJobs ">
               <td>{{ job.id }}</td>
               <td>
                 <ng-container *ngIf="editingJob === job; else showTitleInput">
                   <input type="text" [(ngModel)]="editingJob.title" class="form-control">
                 </ng-container>
                 <ng-template #showTitleInput>{{ job.title }}</ng-template>
               </td>
               <td>
                 <ng-container *ngIf="editingJob === job; else showDescriptionInput">
                   <input type="text" [(ngModel)]="editingJob.description" class="form-control">
                 </ng-container>
                 <ng-template #showDescriptionInput>{{ job.description }}</ng-template>
               </td>
               <td>
                 <ng-container *ngIf="editingJob === job; else showPrice">
                   <div class="input-group">
                     <input type="number" [(ngModel)]="editingJob.price_max" class="form-control">
                     <span class="input-group-text">-</span>
                     <input type="number" [(ngModel)]="editingJob.price_min" class="form-control">
                   </div>
                 </ng-container>
                 <ng-template #showPrice>{{ job.price_max }} - {{ job.price_min }}</ng-template>
               </td>
               <td>
                 <ng-container *ngIf="editingJob === job; else showButtons">
                   <button class="save"  (click)="saveJob()">Save</button>
                   <button class="cancel" (click)="cancelEdit()">Cancel</button>
                 </ng-container>
                 <ng-template #showButtons>
                   <button class="btn btn-success "  (click)="editJob(job)">Edit</button>
                   <button class=" btn-edit btn btn-danger "
                    (click)="deleteJob(job.id)" >Delete</button>
                 </ng-template>
               </td>          
 </tr>
       </tbody>
     </table>
   </div>
 
 </div>
 </div>


    </div>
 </div>
 
  

</body>
</html>