 
.note{
    margin: 100px;
    margin-left: 100px; 
}
.page_demande_service{
    margin-bottom: 70px;
}
.page_demande_service h5{
    font-size: 25px;
    margin-bottom: 25px;
    text-decoration: underline;
}
.page_demande_service input{
    border: 1px solid #d0cfcf;
}
.name_pres{
    font-weight: bold;
    color: #bebbb7;
}
textarea{
    min-height: 118px;
}
.btn_send_demande{
    float: right;
    margin-bottom: 20px;
}
.img_service{
    height: 200px;
    margin: 20px auto;
    text-align: center;
    display: block;
    object-fit: cover;
}
.card_service{
    min-height: 505px;
}
.details{
    border-top: 1px solid #c8c6c6;
    padding: 20px 20px 20px;
}
.disbled_click{
    cursor: not-allowed;
    background-color: #e8ecef;
}