body{
    background: linear-gradient(to bottom, #12547A, #80D0C7);
}

.contaienr{
    margin: 100px;
    margin-left: 400px;
    width: 100px;
}
.description{
 width:100px;
 height:50px;

}
.note{
    margin: 100px;
    margin-left: 100px; 
}
.btn{
    position: relative;
    left: 1000px;
    width: 10%;
    border: none;
    top: -20px;
    background-color: #fa8f04;
      
      
}