 
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
  <title>login updatttte</title>
 </head>
 
 <body>
  <div class="outer">
    <div class="container">
        <div class="row">
           <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel border bg-white">
              <div class="panel-heading">
                <h3 class="pt-3 font-weight-blod">
                  Connexion
                </h3>
              </div>
              <div class="panel-body p-3" >
                <form   
                    [formGroup]="loginForm" 
                    (ngSubmit)="submitlogin()"> 
                   <div class="form-group"> 
                    <div class="input-field" [ngClass]="{ 'is-invalid-input': submitted && form['email'].errors }">
                      <span class="fa fa-envelope p-2 "></span>
                      <input type="email" formControlName="email" class="form-control" placeholder="Email"  />
                   </div> 
                    <div *ngIf="submitted && form['email'].errors">
                       <div *ngIf="form['email'].errors['required']" class="text-danger">Email is required</div>
                      <div *ngIf="form['email'].errors['email']" class="text-danger">Email is invalid</div>
                   </div>
                    </div>
    
                  <div class="form-group pt-3"> 
                    <div class="input-field" [ngClass]="{ 'is-invalid-input': submitted && form['password'].errors }">
                      <span class="fa fa-lock p-2"></span> 
                      <input formControlName="password" type="{{this.typeInput}}"  class="form-control"
                              placeholder="Mot de passe" />
                      <span (click) ="hideShowPass()" class="fa {{eyeIcon}}"></span> 
                    </div> 
                    <div *ngIf="submitted && form['password'].errors" >
                        <div *ngIf="form['password'].errors['required']" class="text-danger">Password is required</div>
                        <div *ngIf="form['password'].errors['minlength']" class="text-danger">
                           Password must be at least 6 characters
                         </div> 
                     </div>
                  </div>
                  
                  <div class="form-inline fr mt-4">
                    <a id="forget" class="font-weight-blod" >Mot de passe oublié?</a>
                  </div>

                  <div class="alert alert-danger" *ngIf="isLoginFailed">
                          Login Error: {{ errorMessage }}
                  </div>

                  <button class="btn  btn-block mt-4 w-100"> Connexion</button>
                  <div class="text-center pt-4 text-muted">Vous n'avez pas de compte ?
                      <a id="forget" routerLink="/compte">S'inscrire</a>
                  </div>
               </form>

              </div>
             
            </div>
           </div>
        </div>
    </div>
  </div>
 </body>
</html>
