.outer{
    height: 100vh;
    background-color: var(--dark-blue);
}
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}
#forget{
    min-width:100px;
    margin-left:auto;
    text-decoration: none;
    cursor: pointer;
    color:#0a4bdd;
}
a:hover{
    text-decoration: none;
}
 
.input-field.error{
    border:1px solid red;
    color:red;
}
 
img{
width:40px;
height:40px;
object-fit: cover;
border-radius: 50%;
position: relative;
}
 
.bordert:after{
    content:"or connect with ";
    position:absolute;
    top:-13px;
    left:33%;
    background-color: #ffff;
    padding: 0 8px ;
}
.is-invalid-input{
    border: 1px solid #f00;
}
.alert{
    margin-bottom: 0;
    margin-top: 15px;
}
 
