<!-- =============== Navigation ================ -->
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a routerLink="">
                   
                    <span class="title">Brand Name</span>
                </a>
            </li>

            <li>
                <a routerLink="/home">
                   
                    <span class="title">Voir Site</span>
                </a>
            </li>

            <li>
                <a  *ngIf="isLoggedIn()" routerLink="/profile">
                    
                    <span class="title">compte</span>
                </a>
            </li>
            <li>
                <a  routerLink="/post">
                   
                    <span class="title">Services</span>
                </a>
            </li>


            <li>
                <a *ngIf="isLoggedIn()" routerLink="/availbilty">
                    
                    <span class="title">disponiblité</span>
                </a>
            </li>

        

            <li>
                <a routerLink="/respondTorequest">
                    
                    <span class="title">Messagerie</span>
                </a>
            </li>

            <li>
                <a routerLink="">
                    
                    <span class="title">Déconnecter</span>
                </a>
            </li>

          
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
  

</div>
 

<!-- =========== Scripts =========  -->
<script src="assets/js/main.js"></script>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>