<!-- =============== Navigation ================ -->
<div class="container">
    
    <div class="navigation">
        <ul>
            <li>
                <a > 
                    <span class="title"> Bienvenue :{{username}}</span>
                </a>
            </li>
               
            <li>
                <a routerLink="/home">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Voir Site</span>
                </a>
            </li>

            <li>
                <a   routerLink="/profile">  
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">compte</span>
                </a>
            </li>
            <li>
                <a routerLink="/password">
                    <span class="icon">
                        <ion-icon name="help-outline"></ion-icon>
                    </span>
                    <span class="title">Changer mot de passe </span>
                </a>
            </li>
            <li>
                <a  routerLink="/post">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Services</span>
                </a>
            </li>


            <li>
                <a routerLink="/availbilty">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">disponibilité</span>
                </a>
            </li>

        

            <li>
                <a routerLink="/respondTorequest">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Demande service</span>
                </a>
            </li>
            
             <li>
                <a routerLink="/respondTorequest">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">messages</span>
                </a>
            </li>

            <li>
                <a (click)="logout()">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Déconnecter</span>
                </a>
            </li>


          
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
  

</div>
 
<!-- Welcome message 
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-4">Bienvenue, {{username}}!</h1>
        <p class="lead">This is your dashboard. Here, you can view your account details, access services, check your availability, and manage your messages.</p>
        <hr class="my-4">
        <p>Enjoy using our platform!</p>
      </div>
    </div>
  </div>-->
<!-- =========== Scripts =========  -->
<script src="assets/js/main.js"></script>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>