 
  .main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #fff;
    transition: 0.5s;
  }
  .main.active {
    width: calc(100% - 80px);
    left: 80px;
  }
   
.marging_left30{
    margin-left: 30px;
 }
 .pending_job{
     background-color: #fbf0da;
     border-color: #a17112;
 }
 .flex-nowrap{
    padding:100px;
 }
 .active_job{
     background-color: #fbf0da;
     border-color: #a17112;
 }
 .categ_span{
     background-color: #dddddd;
     margin-bottom: 20px;
     border-radius: 20px;
     display: inline-block;
     padding: 5px 15px;
     font-size: 14px;
 }
 .card_job{
    margin-top: 30px;
 }
 
 modal {
     /* modals are hidden by default */
     display: none;
 }
 
 body.modal-open {
     /* body overflow is hidden to hide main scrollbar when modal window is open */
     overflow: hidden;
 }
 .btn-primary{
    margin-top: 5px;
    width: 50%;
    float: right;
 }
 .list_radios{
    margin-top: 10px;
 }
 .list_radios label{
    font-size: 16px;
    margin-right: 20px;
    padding-left: 10px;
    font-weight: bold;
    color: #020c4a;
    margin-bottom: 17px;
 }
 .price_info label{
    font-weight: bold;
    margin-right: 15px;
 }