<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="f">

  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <app-navbar class="fixed-top"></app-navbar>
              <hr>
                
            </div>
        </div>
        <div class="col py-3 marging_left90">
          <div class="row mt-5">
            <div class="col-md-12">
              <h2>Demandes services</h2>
              
              <div class="row">
                <div class="col-md-4" *ngFor="let request of jobRequests" (click)="selectedRequest = request">
                  <div class="card card_job">
                    <div class="card-header">
                      {{ request.title }}
                    </div>
                    <div class="card-body"> 
                      <span class="categ_span">{{request.category.name}}</span>
                      <p class="card-text">
                        {{ request.description }}<br>
                      </p>
                        <hr>
                        <p class="card-text">
                        Client :{{request.user.firstname}} <br>  
                        Location :{{ request.location }} <br>
                        Date debut: {{ request.start_date}}<br>
                        Date Limit :{{ request.end_date}} <br>
                        Status: {{ request.status }}<br>
                      </p>
                      <button class="btn btn-primary" (click)="selectedRequest = request">sélectionner une demande</button>
                    </div>
                  </div>
                </div>
              </div>
              <div  *ngIf="selectedRequest">
                <form (submit)="respondToJobRequest()">
                  <div class="row">
                    <div class="col-md-6">
                      <div>
                        <input type="radio" name="response" value="accepte" [(ngModel)]="response" required> Accepte
                        <input type="radio" name="response" value="refuse" [(ngModel)]="response" required> refuse
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div *ngIf="response === 'accepte'">
                        <label for="price">Price:</label>
                        <input type="number" name="price" [(ngModel)]="prix" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary">envoyer</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
             
        </div>
    </div>
</div>

  </div>
 
  </body>
  </html>
  