<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Disponibilite</title>

</head>
<body>
  <app-navbar class="fixed-top"></app-navbar>
 
  <div class="outer">
    <div class="container">
        <div class="row">
           <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel border bg-white">
              <div class="panel-heading">
                <h3 class="pt-3 font-weight-blod">
                  Ajouter la disponibilité

  </h3>
</div>
    <div class="panel-body p-3" >
    <form [formGroup]="disponibiliteForm" (ngSubmit)="onSubmit()">
      <div class="form-group pt-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="actif" id="actif">
          <label class="form-check-label" for="actif">Actif</label>
        </div>
      </div>
      <div class="form-group pt-3 ">
        <label for="heure_debut" class="col-sm-2 col-form-label">Horaire:</label>
        <div class="input-field" >
          <input type="text" class="form-control" formControlName="heure_debut" placeholder="HH:mm">
        </div>
        </div>
        <div class="input-field" >
          <input type="text" class="form-control" formControlName="heure_fin" placeholder="HH:mm">
        </div>
      <div class="form-group pt-3">
        <label for="jour">Jour:</label>
        <select class="form-select" formControlName="jour" id="jour">
          <option *ngFor="let j of jour">{{j}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" >Envoyer</button>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
