
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Filter Product</title>
</head>
<body>      
	<app-nav></app-nav>
		<section>
				<div class="topbar">
					<div class="toggle">
						<ion-icon name="menu-outline"></ion-icon>
					</div>
	
					<div class="search">
						<label>
							<input type="text" placeholder="Que cherches-tu ?">
							<ion-icon name="search-outline"></ion-icon>
						</label>
					</div>
					</div>
				
				</section>
		
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-4" *ngFor="let categorie of category"> 
							<div class="product-field " >
								<ul class="items">
									<li data-category="" data-price="">
									
										<div class="detail">
											<p class="icon">
											   <span></span>
											   <span></span>
											   <span></span>
											</p>
											<strong>{{categorie.name}} </strong>
											<span>Réservez vos services de jardinage ponctuels ou récurrents</span>
											<small routerLink="/besoin" (click)="demandeService()">Demander ce service</small>
										</div>
									
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
				
			</section>
			
		</body>
			
		
</html>
	