
/* header style start */
body{
    background: var(--dark-blue);
}
.filter-condition{
    padding: 20px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
}
.filter-condition select{
    width: 120px;
    padding: 0 0 0 10px;
    border: none;
    outline: none;
    font-weight: bold;
    color: purple;
    background: transparent;
    cursor: pointer;
}
.product-field{
    padding: 40px 20px;
}
.product-field ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product-field ul li{
    list-style: none;
  
    transition: 0.5s all;
    background: #E8D5C4;
    /*overflow: hidden;*/
    border-radius: 20px;
    padding: 10px;
    margin: 200px 10px 0 10px;
    position: relative;
}
picture{
    background:#FFF1DC;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 41%;
    width: 75%;
    height: 85%;
    border-radius: 50px 20px 0 20px;
    transform: skewY(40deg);
    overflow: hidden;
    box-shadow: 0px 1px 0px #00000020, -1px 0px 0px #ccc;
}
picture img {
  width: 95%;
  z-index: 1;
  transform: skewY(-40deg);
  padding: 25px 0 0 0;
}
.detail{
    width: 100%;
    height: 100%;
}
.detail .icon{
    width: 30%;
    height: 55%;
    padding: 20px 5px;
}
.icon span{
    background: #00000030;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    margin: 0 0 20px 5px;
    font-size: 10px;
    color: white;
}
.icon span:hover{
    background: var(--gra);
    cursor: pointer;
}
.detail > strong{
    display: inherit;
    margin: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #555;
}
.detail > span{
    display: inherit;
    padding: 0 20px;
    width: 80%;
}
.detail small{
    display: block;
    padding: 8px 10px;
    margin: 5px;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #999999;
    cursor: pointer;
    margin-top: 20px;
    background-color: #020c4a;
    text-align: center;
    color: white;
}
.detail small:hover{
        background: var(--gra);
        color: rgb(0, 0, 0);
        border-color: rgb(255, 0, 157);
}
li h4{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 30px;
    color: #555;
    text-shadow: 1px 1px 2px black;
}
/* search start */


.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
  }
  
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
  }
  
  .search label {
    position: relative;
    width: 100%;
  }
  
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid #222;
  }
  
  .search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
  }
  
  
/*search end*/  