<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar class="fixed-top"></app-navbar>
  <div class="outer">
    <div class="container">
        <div class="row">
           <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel border bg-white">
              <div class="panel-heading">
                <h3 class="pt-3 font-weight-blod">
                      Mot de passe
                </h3>
              </div>
              <div class="panel-body p-3" >
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

                 <div class="form-group pt-3">
                  <div class="input-field"> 
                  <input type="password" formControlName="currentPassword" 
                  placeholder="Mot de passe actuel"
                  id="currentPassword" name="currentPassword" class="form-control" [value]="password" required>
                    </div>
                 </div>  

                <div class="form-group pt-3">
                  <div class="input-field"> 
                  <input type="password"
                  placeholder="Nouveau mot de passe"
                  formControlName="newPassword" id="newPassword" name="newPassword" class="form-control" required>
                </div>                
              </div>

                <div class="form-group pt-3">
                  <div class="input-field"> 
                  <input type="password" 
                  placeholder="Confirmer le nouveau mot de passe"
                  formControlName="confirmPassword" id="confirmPassword" name="confirmPassword" class="form-control" required>
                </div>
              </div>      

                <button type="submit"  class="btn btn-dark" [disabled]="resetPasswordForm.invalid">Enregistrer</button>
              </form>
              </div>
            </div>
          </div>
        </div>
     </div>
    </div>           
 
</body>
</html>