<body> 
  <app-nav></app-nav>
  <!--Rechercher services--> 
   <section class="dark_section">
    <div class="container"> 
      <div class="row">
        <div class="col-md-12">
          <h1 class="sub_page_title"> Réservez vos services</h1> 
        </div>
      </div>
 
      <!--div class="row"> 
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <button class="btn_marron" (click)="demandeService()"  routerLink="/besoin" type="button">Demander un besoin </button>
        </div>
      </div-->
     
      <div class="row">
        <div class="col-md-4">
          <app-search (searchTextChanged)="onSearchTextEntered($event)" ></app-search>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <select name="" id="filter_categ" placeholder="catégorie" class="trie" (change)="onCategorySelected($event)">
            <option value="all">Catégories</option>
            <option *ngFor="let category of categories" value="categ_{{category.id}}">{{ category.name }}</option>
          </select>
       
          <select name="" id="" placeholder="sortBy" class="trie" (change)="sortByLatest($event)"> 
            <option value="">Trier par</option>
            <option value="latest">Les plus récents</option>
            <option value="lowest">Prix le plus bas</option>
            <option value="highest">Prix le plus élevé</option>
          </select>
        </div>
      </div>
 
        <div class="row service_list" id="service_list">
          <div class="col-md-3 column all_service categ_{{service.category.id}}" *ngFor="let service of  filteredServices|  filter: searchText ">
            <div class="box"> 
              <h2 class="category">{{service.category.name.name}} </h2> 
            <div class="image">
            
              <img src="http://localhost:8000/storage/images/{{service.category.name.image}}" alt="Image description" style="border-radius: 10%;">
            </div> 
           
            <div class="details"> 
              <h2 class="title">{{service.title}}</h2>
              <p class="description">{{service.description}}</p>
              <p class="price">Prix [{{service.price_min}} - {{service.price_max}}]</p>
            </div>
            <div>
              
              <p class="published_by">Publiee par : <a routerLink="/portfolio/{{service.jobber_id}}">{{service.jobber_firstname}}</a></p>

              <div class="buttons-container"  >
                <button class="btn_marron margin_right_15"  routerLink="/besoin/reserve/{{service.id}}" 
								(click)="besoin()">
                Réserver 
                </button>
                <button class="btn_outline" routerLink="/portfolio/{{service.jobber_id}}"  style="left: 68px;" >
                 Voir Profil
                </button>
              </div>
            </div>
          </div>
          </div>
        </div>    
        </div>
      </section>
</body> 