 .dark_section{
    background-color: var(--dark-blue);
}
 
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  /*filtre start*/ 
 
  .search {
    position: relative;
    width: 400px;
    margin: 80 10px;
    
  }
  
  .search label {
    position: relative;
    width: 100%;
  }
  
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 25px;
    font-size: 18px;
    outline: none;
    border: 1px solid #222;
  }
  
  select{
    text-align: center;
    margin-bottom: 0px; 
    height: 40px;
    margin: 0 10px 0 0;
    border-radius: 0;
    float: right;
  }
 
    .box {
      margin-bottom: 30px;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-radius: 4px; 
      box-shadow: 2px 2px 4px rgb(218,218, 218);
    } 
    .box img {
      width: 100%;
      height: 200px;
      object-fit: contain;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    
    .box h3 {
      margin: 10px 0;
    }
    
    .box p {
      margin-bottom: 10px;
    }
    
    .box .price {
      display: block;
      margin: 10px 0;
      font-size: 15px;
      font-weight: bold;
    }
    
    .box .btn {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      border-radius: 4px;
      cursor: pointer;
    }
    .page_title{
      text-align: center;
      padding-top: 80px;
      color: var(--white-color);
      margin-bottom: 60px;
    }
      
  .btn_demande{
    margin-bottom: 50px;
  }
  .show_Details{
    background-color: white;
    border-color:2px solid #ab702a;
    color: #ab702a;
  }
  .show_Details::after{
    border-color:2px solid #ab702a;
    background-color: white;
  }
  .details{
    text-align: center;
  }
  
  .category{
    text-align: left;
    font-size: 13px;
    margin: 0 0 20px 0; 
    background-color: #eaeaea;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px
  }
  
.service_list{
  padding: 50px 0;
}


.change_categ .column{
  display: none;
  visibility: hidden;
}
.change_categ .show {
  display: block!important;
  visibility: visible;
}

.published_by{
  border-top: 1px solid rgb(9 9 121 / 9%);
  border-bottom: 1px solid rgb(9 9 121 / 9%);
  padding: 10px 0;
  margin-top: 25px;
  font-size: 16px; 
}

.all_service .title{
  font-size: 22px;
    font-weight: bold;
    color: #070749;
    margin: 15px 0;
}

.buttons-container{
  margin-top: 20px;
  text-align: center;
}
.margin_right_15{
  margin-right: 15px;
}
.description{
  min-height: 70px;
}
