<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home </title>
    <!-- remix icon cdn link -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />  
   </head>
  <body>
    <!-- ========== header start ========== -->
    <app-nav></app-nav>
    <!-- ========== header end ========== -->

    <!-- ========== main start ========== -->
    <section class="hero__section dark_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero__wrapper">
                        <div class="hero__content">
                            <h2>Bienvenue ♥</h2>
                            <p>Tous les services du quotidien, 
                                <br>clé en main</p>
                         <button (click)="demandeService()" class="btn_marron">Demander un service maintenant </button>
                        </div>
                        <div class="hero__img">
                            <img src="./assets/images/hero-img.png" alt="hero-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ========== main end ========== -->
    
    <!--choose us section start 
    <section>
        <div class="container">
          <div class="choose__us-top">
             <h2>Pourquoi nous choisir </h2>
             <p>bllllllllllllllllbbbbbbbbbbbbbllllllllllllllbbbb</p>
          </div>
           <div class="choose__us-wrapper">
               <div class="choose__us-box">
                   <div class="choose__img">
                      <img src="./assets/images/award.png" alt="">
                   </div>
                   <div class="choose__us-content">
                       <h4>Professional and Certified Company</h4>
                      <p> dfffffffffffffffffffffddddddddddd
                       ffffffffffffffffffffffffffffffffffff
                       ffffffffffffffffffffffffffffffffffff</p>
                   </div>
               </div>

              <div class="choose__us-box">
                  <div class="choose__img choose__img-box-02">
                      <img src="./assets/images/idea.png" alt="">
                   </div>
                   <div class="choose__us-content">
                          <h4>Business and Product Concept too</h4>
                         <p> dfffffffffffffffffffffddddddddddd
                          ffffffffffffffffffffffffffffffffffff
                         ffffffffffffffffffffffffffffffffffff</p>
                    </div>
              </div>

               <div class="choose__us-box  choose__img-box-03">
                  <div class="choose__img">
                     <img src="./assets/images/handshake.png" alt="">
                  </div>
                  <div class="choose__us-content">
                      <h4>International Good Relationship</h4>
                     <p> dfffffffffffffffffffffddddddddddd
                     ffffffffffffffffffffffffffffffffffff
                      ffffffffffffffffffffffffffffffffffff</p>
                  </div>
              </div>


              <div class="choose__us-box">
                 <div class="choose__img">
                     <img src="./assets/images/design-thinking.png" alt="">
                 </div>
                 <div class="choose__us-content">
                     <h4>Pixel and perfect design</h4>
                     <p> dfffffffffffffffffffffddddddddddd
                     ffffffffffffffffffffffffffffffffffff
                     ffffffffffffffffffffffffffffffffffff</p>
                 </div>
              </div>
                  

              <div class="choose__us-box">
                 <div class="choose__img">
                     <img src="./assets/images/award.png " alt="">
                 </div>
                 <div class="choose__us-content">
                     <h4>Professional and Certified Company</h4>
                     <p> dfffffffffffffffffffffddddddddddd
                      ffffffffffffffffffffffffffffffffffff
                     ffffffffffffffffffffffffffffffffffff</p>
                </div>
            </div>
        </div>
        </div>
    </section>-->
    <!--choose us section end -->
       <!--amine section start-->
    <section class="ca_marche">
        <div class="container">
        <div class="row">
        <div class="col-md-12">
        <h1 class="title_header">Comment ça marche</h1>
        <div class="row">
        <div class="col-md-4">
        <img src="./assets/images/form.png">
        <h2>Demandez un service</h2>
        <p>Remplissez le formulaire et obtenez une estimation du prix et de la duree</p>
        </div>
        <div class="col-md-4">
        <img src="./assets/images/bell.png">
        <h2>Reserver votre prestataire </h2>
        <p>Des prestataires competents et proches de chez vous vous proposent leurs services</p>
        </div>
        <div class="col-md-4">
        <img src="./assets/images/calendrier.png">
        <h2>Souriez,c'est fait</h2>
        <p>Votre prestataire vous rend service au prix et a la date convenus</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
           <!--amine section start-->
           <!--offer section start-->
           <section class="dark_section">
            <div class="container">
                <div class="choose__us-top">
                    <h2 class="title_header"> Ce que nous offrons </h2>
                    <p>Très facile à contacter, réponse immédiate, 
                    <br> compétence des intervenants, 
                    prestations très efficaces
                     </p>
                  </div>
                  <div class="offer__wrapper">
                      <div class="offer__box offer__box-01">
                         <img src="./assets/images/seo.png" alt="">
                          <h4>Prestataires qualifiés</h4>
                      </div>

                      <div class="offer__box offer__box-02">
                         <img src="./assets/images/letter.png" alt="">
                         <h4>Prestations assurées</h4>
                      </div>

                      <div class="offer__box offer__box-03">
                          <img src="./assets/images/growth.png" alt="">
                         <h4>Service encadré</h4>
                     </div>

                     <div class="offer__box offer__box-04">
                         <img src="./assets/images/ppc.png" alt="">
                         <h4>un cout accessible  </h4>
                     </div>

                   <div class="offer__box offer__box-04">
                     <img src="./assets/images/automation.png" alt="">
                   <h4> Mise en relation rapide </h4>
              </div>

                  </div>
            </div>
           </section>
           <!--offer section end -->
           <!--About us section start -->
           <section class="we_are_here">
            <div class="container">
                <div class="search__engine-wrapper about_us">
                   <div class="search__engine-content">
                    <p class="about__us-text">À propos de nous </p>
                    <h2>Nous sommes là pour faciliter votre vie</h2>
                    <p  class="search__engine-text02">
                        Une plateforme de prestation de services
                         est la solution appropriée pour rapprocher 
                        les personnes qui ont des besoins 
                        avec les millions 
                         de demandeurs d’emploi. 
                         <br> Facilitant la recherche   de prestataires 
                        et  aidant à gagner du temps et de l'argent au client
                    </p>

                    <button class="btn_marron">Voir plus</button>
                   </div>
                   <div class="search__img">
                    <img src="./assets/images/about.png" alt="">
                   </div>
                </div>
            </div>
           </section>
           <!--About us section end -->
         <!--Customer review section start-->
         <section class="dark_section">
            <div class="container">
              <div class="customer__review-wrapper">
                  <div class="customer__review-top">
                        <h1 class="title_header">Les utilisateurs nous font confiance</h1>
                        <p>La satisfaction de nos utilisateurs est notre priorité En quelques clics 
                            ,vous obtenus vos prestataires à la demande  N'oubliez pas de donner 
                            votre avis aussi sur nos fournisseur de services aprés vos experience  
                         <br>Votre avis compte ♥</p>
                 </div>
                 <div class="slider">
                     <div class="slider__img-wrapper">
                          <img src="./assets/images/ava-1.jpg" alt="">
                          <img src="./assets/images/ava-2.jpg" alt="">
                           <img src="./assets/images/ava-3.jpg" alt="">
                          <img src="./assets/images/ava-4.jpg" alt="">
                      </div>
                     <div class="slider__conetnt">
                       <div class="rating">
                          <span> <i class="ri-star-fill"></i></span>
                         <span><i class="ri-star-fill"></i></span>
                         <span><i class="ri-star-fill"></i></span>
                         <span><i class="ri-star-fill"></i></span>
                         <span><i class="ri-star-fill"></i></span>     
                       </div>
                       <p class="review__text">
                        j'ai plusieurs fois demandé l'aide aux spécialistes  
                        tout s'est très bien passé j'ai toujours été satisfaite tant par le travail 
                        que pour l'amabilité des opérants!!!! je reste chez vous
                       </p>
                    </div>
                    </div>
               </div>
          </div>
     </section>
                    <!--Customer review section end-->
      
    <!-- ========== footer start ========== -->
    <!-- ========== footer end ========== -->
  </body>
</html>
