<app-header></app-header>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
   <body>
    
      <div class="square">
        <span></span>
        <span></span>
        <span></span>
        <div class="content">
            <h2>J'ai Besoin de service</h2>
            <p>
                Trouver le prestataire idéal pour vos services du quotidien
            </p> 
           <a routerLink="/signup">Créer un compte</a>
        </div>
       </div>
       <div class="square">
        <span></span>
        <span></span>
        <span></span>
        <div class="content">
            <h2>Devenir prestataire</h2>
            <p>
               Augmentez vos revenus en rendant services prés de chez vous
            </p> 
           <a routerLink="/psignup">Créer un compte</a>
        </div>
       </div>
        
     
  </body>
  
    

</html>
