<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Filter Services</title>
</head>
<body>
  <app-nav></app-nav>
    <section>
        <div class="container">
            <div class="search__engine-wrapper about_us">
               <div class="search__engine-content">
                <p class="about__us-text">Jardinage</p>
                
                <p  class="search__engine-text02">
                    Réservez vos services de jardinage<br> 
                    ponctuels ou récurrent
                </p>

                <button class="btn btn-dark"> Demander un service de jardinage</button>
               </div>
               <div class="search__img">
                <img src="./assets/category/img.png" alt="">
             
              </div>
            </div>
        </div>
       </section>
          <section>
            <h1>Nos services de jardinage à réserver en ligne</h1>
              <a href=""></a>
            <div class="cards" >
            <a routerLink="/detail" target="_blank" class="card">
              <div class="card-background" style="background-image: url(../assets/services/jardinage.jpg)"></div>
              <div class="card-content">
                <p>Jardinage</p>
                <a  routerlink="/detail" class="service_name"> Entretien espace vert</a>
                <br>
                <a routerlink="/detail" class="service_prix"> Prix moyen 10dt-40dt</a>
              </div>
            </a>
            <a routerLink="/detail" target="_blank" class="card">
              <div class="card-background" style="background-image: url(../assets/services/jardinage.jpg)"></div>
              <div class="card-content">
                <p>Jardinage</p>
                <a  routerlink="/detail" class="service_name"> Entretien espace vert</a>
                <br>
                <a routerlink="/detail" class="service_prix"> Prix moyen 10dt-40dt</a>
              </div>
            </a>
            <a routerLink="/detail" target="_blank" class="card">
              <div class="card-background" style="background-image: url(../assets/services/jardinage.jpg)"></div>
              <div class="card-content">
                <p>Jardinage</p>
                <a  routerlink="/detail" class="service_name"> Entretien espace vert</a>
                <br>
                <a routerlink="/detail" class="service_prix"> Prix moyen 10dt-40dt</a>
              </div>
            </a>
          
            <a routerLink="/detail" target="_blank" class="card">
              <div class="card-background" style="background-image: url(../assets/services/jardinage.jpg)"></div>
              <div class="card-content">
                <p>Jardinage</p>
                <a  routerlink="/detail" class="service_name"> Entretien espace vert</a>
                <br>
                <a routerlink="/detail" class="service_prix"> Prix moyen 10dt-40dt</a>
              </div>
            </a>
          </div>
       </section>

       
         <!--Customer review section start-->
         <section>
          <h1 style="color:black"> Choisissez parmi les meilleurs prestataires</h1>
          
          <div class="container">
              <div class="customer__review-wrapper">
                <div class="slider">

                  <div class="slider__img-wrapper">
                       <img src="./assets/images/ava-3.jpg" alt="">
                     
                   </div>
                   <h5  style="margin-top: 10px; text-align: center;color: black;" class="card-title"><b>Amine</b></h5>
                  
                 </div>
              
            </div>
                  <div class="customer__review-top">
                        <p>Ayant un grand jardin , 
                          je suis trés a l aise avec tous les travaux du jardin 
                         <br> et je peux venir avec ma tondeuse,debroussailleuse ,
                          <br> essence et sacs pour les détritus à déposer à la déchèterie avec ma remorque. 
                           </p>
                 <a routerLink="/prestataire" style="margin-top: 10px; text-align: center;color: black;">voir plus de jardinier -> </a>

                 </div>
                 
            
          </div>
   
     </section>
                    <!--Customer review section end-->


    </body>
			
		
    </html>
    