.f{
    margin-left: 300px;
    padding: 100px;
}


 .delete{ 
    background-color: rgba(241, 0, 96, 0.7);
    position: relative;
    right: -13px;
    border: white;
}
.edit{
    position: relative;
    background-color: #d603f6;
    border: white;
}
.btn{
    position: relative;
    right: -678px;
    background-color: #a400ff;
    border: black;
}