<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Disponibilites</title>
</head>
<body>
  <app-navbar class="fixed-top"></app-navbar>
  <div class="main">
  <div class="container mt-4">
    <div class="row">
  
<div class="col-md-12">
  <div class="d-flex justify-content-between mb-3 margin_top90">
    <h2 class="title_page">Disponibilites</h2>
    <button class="btn btn-success" routerLink="/app-add-disponibilite">Add Disponibilite</button>
  </div>
</div>
    </div>

    <div class="space50"></div>
    <div class="row">
      <div class="col-md-4" *ngFor="let disponibilite of disponibilites">
        <div class="card cards text-center">
          <div class="card-body">
            <h5 class="card-title">Actif : {{ disponibilite.actif ? 'Yes' : 'No' }}</h5>
            <p class="card-text">Jour : {{ disponibilite.jour }}</p>
            <p class="card-text">Heure de début de travail: {{ disponibilite.heure_debut }}</p>
            <p class="card-text">Heure de fin de travail: {{ disponibilite.heure_fin}}</p>
      
            <button class="edit btn btn-primary" routerLink="/edit-disponibilite/{{ disponibilite.id }}">
              <i class="fas fa fa-edit"></i>
              Modifier 
            </button>
            
            
            <button class="delete btn btn-danger" (click)="removeDisponibilite(disponibilite.id)">
              <i class="fa fa fa-trash"></i> Delete
            </button>
          </div>
        </div>
        <div class="space50"></div>
      </div>
    </div>
   
  </div>
 </div>


  
</body>
</html>