<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <app-navbar class="fixed-top"></app-navbar>

    <div class="main">
        <div class="container-flui padding0"> 
               
                
                <!-- Header -->
                <div class="header  d-flex align-items-center top_banner_bloc">
                  <!-- Mask -->
                  <span class="mask bg-gradient-default opacity-8"></span>
                  <!-- Header container -->
                  <div class="container-fluid d-flex align-items-center">
                    <div class="row">
                      <div class="col-md-12">
                        <h1 class="text-white">Hello , {{username}}</h1>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- Page content -->
                <div class="container-fluid mt--7">
                  <div class="row">
                    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                      <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                          <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                              <a href="#">
                                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="rounded-circle">
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                          <div class="d-flex justify-content-between">
                           
                          </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                          <div class="row">
                            <div class="col">
                              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                <div>
                                  <span class="heading">22</span>
                                  <span class="description">Offers</span>
                                </div>
                                <div>
                                  <span class="heading">10</span>
                                  <span class="description">Demandes</span>
                                </div>
                                <div>
                                  <span class="heading">89</span>
                                  <span class="description">Comments</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="text-center">
                            <h3>
                              Maha Mani<span class="font-weight-light"></span>
                            </h3>
                            <div class="h5 font-weight-300">
                              <i class="ni location_pin mr-2"></i>Sousse, Tunisie
                            </div>
                            <div class="h5 mt-4">
                              <i class="ni business_briefcase-24 mr-2"></i>
                            </div>
                            <div>
                              <i class="ni education_hat mr-2"></i>Comptenece
                            </div>
                            <hr class="my-4">
                            <p>Bonjour, Je suis sérieux et ponctuel. Je peux ramasser des feuilles,tondre le gazon,arroser le jardin, jardiner et ramasser les déchets vert</p>
                         
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-8 order-xl-1">
                      <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                          <div class="row align-items-center">
                            <div class="col-8">
                              <h3 class="mb-0">My account</h3>
                            </div>
                            <div class="col-4 text-right">
                              <a href="/passwordprestataire" class="btn btn-sm btn-primary btn-default">Modifier Mot de passe</a>
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                        <form  #myForm="ngForm" >
                             <div class="pl-lg-4">
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-username">Nom</label>
                                    <input type="text" id="lastname" 
                                    class="form-control form-control-alternative"
                                    
                                     name="lastname" [(ngModel)]="user.lastname">
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email address</label>
                                    <input type="email" id="email" 
                                    name="email" [(ngModel)]="user.email" 
                                    class="form-control form-control-alternative">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-first-name">Prenom</label>
                                    <input type="text" id="input-first-name" 
                                    class="form-control form-control-alternative" 
                                    name="firstname" [(ngModel)]="user.firstname"
                                    >
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-last-name">Phone</label>
                                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                                    name="phone" [(ngModel)]= "user.phone"
                                 >
                                  </div>
                                </div>
                              </div>
                            </div>
                             <div class="pl-lg-4">
                              
                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-address">Address</label>
                                        <input id="input-address" class="form-control form-control-alternative" 
                                         name="adresse" [(ngModel)]="user.address" type="text">
                                      </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group focused">
                                    <label class="form-control-label" for="input-country">Numero du CIN</label>
                                    <input type="text" id="input-country" 
                                    class="form-control form-control-alternative" 
                                    name="numero_cin" [(ngModel)]="user.numero_cin">
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                            
                            <div class="pl-lg-4">
                              <div class="form-group focused">
                                <label class="form-control-label">Competence</label>
                                <textarea rows="4" class="form-control form-control-alternative"
                                name="competence" [(ngModel)]="user.competence">
                                 </textarea>
                              </div>
                            </div>

                            <button class="btn btn-dark btn_submit" (click)="updateProfile()">Mettre à jour</button>        

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
             
             
            <!--div class="row">
               <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                  <div class="panel-heading">
                    <h3 class="pt-3 font-weight-blod">
                          Informations personnels
                    </h3>
                  </div>


                  <div class="panel-body p-3" >
                        <form  #myForm="ngForm" >
         
                                <div class="form-group pt-3">
                                    <div class="input-field">
                                        <input type="text" placeholder="Prénom" 
                                        name="prenom" [(ngModel)]="user.firstname" placeholder="Prénom">
                                    </div>
                                </div>
                                <div class="form-group pt-3">
                                    <div class="input-field" >
                                        <input type="text" placeholder="nom" name="nom" [(ngModel)]="user.lastname" placeholder="nom">
                                    </div>
                                </div>
                                <div class="form-group pt-3">
                                    <div class="input-field">
                                        <input type="text" placeholder="Email"  name="email" [(ngModel)]="user.email" placeholder="Email"  >
                                    </div>
                                </div>
                            
                                <div class="form-group pt-3">
                                    <div class="input-field" >
                                        <input type="text"
                                         
                                         placeholder="phone" name="phone" [(ngModel)]= "user.phone" placeholder="phone">
                                    </div>
                                </div>
                            
                             <div class="form-group pt-3">
                                    <div class="input-field"  >
                                        <input type="text"   name="adresse" [(ngModel)]="user.address" placeholder="adresse">
                                    </div>
                             </div>
                             <div class="form-group pt-3">
                                  <div class="input-field"  >
                                       <input type="text"   name="competence" [(ngModel)]="user.competence" placeholder="competence">
                                 </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field"  >
                                     <input type="text"   name="numero_cin" [(ngModel)]="user.numero_cin" placeholder="numero_cin">
                               </div>
                          </div>
                 <button class="btn btn-dark " (click)="updateProfile()">Mettre à jour</button>        
                        </form>
                  </div>
                  </div>
                </div>
               </div-->
            </div>
        </div>
    
      
    
</body>
</html>