  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>  
<app-sidebar class="fixed-top"></app-sidebar>
<div class="main">
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-4">
                <h5 class="table_header_title">Liste de mes demandes</h5>
              </div>
              <div class="col-md-8">
                <button class="glow-on-hover custom-btn float_right primary_btn" routerLink="/besoin/demande"><span class="fa fa-plus"></span> Demander un besoin</button> 
              </div>
            </div>
              
           </div>
          <div class="card-body table-border-style">
              <div class="table-responsive">
                  <table class="table table-bordred table-striped text-center" id="mytable">
                      <thead>
                        <tr>
                 
                          <th scope="col">Titre</th>
                          <th scope="col">Description</th>
                          <th scope="col">Status</th>
                          <th scope="col">Date de debut</th>
                          <th scope="col">Date du fin</th>
                          <th scope="col">Heure</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let request of requestJobList">
                 
                          <td>{{ request.title }}</td>
                          <td>{{ request.description }}</td>
                          <td><span class="status_btn {{getStatusColor(request.status)}}"> {{ request.status }} </span></td>
                          <td>{{ request.start_date| date:'yyyy-MM-dd' }}</td>
                          <td>{{ request.end_date | date:'yyyy-MM-dd'}}</td>
                          <td>{{ request.time }}</td>
                          <td class="text-center"> 
                            <button class="btn btn-success btn-xs btn_table" routerLink="/offre/{{request.id }}">
                            <span class="fa fa-eye"></span>Voir offre</button> 
                            <button class="btn btn-primary btn-xs btn_table" (click)="showForm(request.id)"
                            ><span class="fa fa-pencil"> Modifier</span>     </button>
                            <button class="btn btn-danger btn-xs btn_table" (click)="removeRequest(request.id)">
                            <span class="fa fa-trash"></span>Supprimer</button> 
                        </td>
                         
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
 
      </div>
    </div>
   </div> 
 
</div>
  </body>
 
  </html>