<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
<section>
   <button class="glow-on-hover" routerLink="/besoin">Demander un besoin</button> 
</section>
<section>
   <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col"></th>
          <th scope="col">Titre</th>
          <th scope="col">discription</th>
          <th scope="col">Status</th>
          <th scope="col">start_date</th>
          <th scope="col">end_date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requestJobList">
          <td>{{ request.id }}</td>
          <td>{{ request.title }}</td>
          <td>{{ request.description }}</td>
          <td>{{ request.status }}</td>
          <td>{{ request.start_date }}</td>
          <td>{{ request.end_date }}</td>
          <td>{{ request.time }}</td>
          <td>
            <td>
              <a routerLink="/edit-request/{{ request.id }}">
                <i class="fa fa fa-trash"></i> Edit
              </a>
              
              
              <button class="btn btn-sm btn-danger">
                <i class="fa fa fa-trash" (click)="removeRequest(request.id)"></i> Delete
              </button>

          </td>
        </tr>
       
      </tbody>
    </table>
 
</section>
               
   
  
</body>
</html>