<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
</head>
<body>
    <div class="outer">
        <div class="container">
            <div class="row">
               <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                  <div class="panel-heading">
                    <h3 class="pt-3 font-weight-blod">
                        S'inscrire
                    </h3>
                  </div>
                  <div class="panel-body p-3" >
                        <form [formGroup]="signUpFrom">
    
                                <div class="form-group pt-3">
                                    <div class="input-field" [class.error]="signUpFrom.controls['firstname'].dirty &&  signUpFrom.hasError('required','firstname')">
                                        <span class="fa fa-user p-2"></span>
                                        <input type="text" placeholder="Prénom" formControlName="firstname">
                                    </div>
                                </div>
                                <small *ngIf="signUpFrom.controls['firstname'].dirty &&  signUpFrom.hasError('required','firstname')" class="text-danger">*firstname is required</small>
                                
                                <div class="form-group pt-3">
                                    <div class="input-field" [class.error]="signUpFrom.controls['lastname'].dirty &&  signUpFrom.hasError('required','lastname')">
                                        <span class="fa fa-user p-2"></span>
                                        <input type="text" placeholder="nom" formControlName="lastname">
                                    </div>
                                </div>
                                <small *ngIf="signUpFrom.controls['lastname'].dirty &&  signUpFrom.hasError('required','lastname')" class="text-danger">*lastname is required</small>
                                <div class="form-group pt-3">
                                    <div class="input-field" [class.error]="signUpFrom.controls['email'].dirty &&  signUpFrom.hasError('required','email')">
                                        <span class="fa fa-envelope p-2"></span>
                                        <input type="text" placeholder="Email"  formControlName="email" >
                                    </div>
                                </div>
                                <small *ngIf="signUpFrom.controls['email'].dirty &&  signUpFrom.hasError('required','email')" class="text-danger">*email is required</small>
                              
                                <div class="form-group pt-3">
                                    <div class="input-field" [class.error]="signUpFrom.controls['phone'].dirty &&  signUpFrom.hasError('required','phone')">
                                        <span class="fa fa-phone p-2"></span>
                                        <input type="text"
                                        formControlName="phone"
                                         placeholder="phone">
                                    </div>
                                </div>
                                <small *ngIf="signUpFrom.controls['phone'].dirty &&  signUpFrom.hasError('required','phone')" class="text-danger">*phone is required</small>
                               
                                <div class="form-group pt-3">
                                    <div class="input-field"  [class.error]="signUpFrom.controls['address'].dirty &&  signUpFrom.hasError('required','address')">
                                        <span class="fa fa-map-marker p-2"></span>
                                        <input type="text"
                                        formControlName="address"
                                         placeholder="adresse">
                                    </div>
                                </div>
                                <small *ngIf="signUpFrom.controls['address'].dirty &&  signUpFrom.hasError('required','address')" class="text-danger">*email is required</small>
                               
                                <div class="form-group pt-3">
                               
                           <input type="hidden"  formControlName="role" value="client" >
                                </div> 
                               
    
                                <div class="form-group pt-3">
                                    <div class="input-field" [class.error]="signUpFrom.controls['password'].dirty &&  signUpFrom.hasError('required','password')">
                                     <span class="fa fa-lock p-2"> </span>
                                     <input formControlName="password" [type]="type" placeholder="mot de passe">
                                     <span (click) ="hideShowPass()" class=" fa {{eyeIcon}}"></span>
                                   </div>
                                 </div>
                                 <small *ngIf="signUpFrom.controls['password'].dirty &&  signUpFrom.hasError('required','password') " class="text-danger">*password is required</small>
                                
                                 <div class="form-group pt-3">
                                    <div class="input-field" [class.error]="signUpFrom.controls['confirmpassword'].dirty &&  signUpFrom.hasError('required','confirmpassword')">
                                     <span class="fa fa-lock p-2"> </span>
                                     <input formControlName="confirmpassword" [type]="type" placeholder="confirmez mot de passe ">
                                     <span (click) ="hideShowPass()" class=" fa {{eyeIcon}}"></span>
                                   </div>
                                 </div>
                                 <small *ngIf="signUpFrom.controls['confirmpassword'].dirty &&  signUpFrom.hasError('required','confirmpassword') " class="text-danger">*password is required</small>
                                
                                 <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onSignup()">S'inscrire</button>
                           <div class="text-center pt-4 text-muted">Vous avez déjà un compte ?<a id="forget" routerLink="/login">Connexion</a></div>                     
                        </form>
                  </div>
                  </div>
                </div>
               </div>
            </div>
        </div>  
</body>
</html>