.outer{
    height: 100vh;
    background-color: var(--dark-blue);
}
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}
#forget{
    min-width:100px;
    margin-left:auto;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}