
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <app-nav></app-nav>
  
  <div class="container-fluid breadcrumb_section">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
            </ol>
          </nav>
        </div>
      
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ol class="menu_prest">
            <li><a href="http://localhost:4200/portfolio/{{prestataire.id}}#details">Profile details</a></li>
            <li><a href="http://localhost:4200/portfolio/{{prestataire.id}}#services">Services</a></li>
            <li><a href="http://localhost:4200/portfolio/{{prestataire.id}}#reviews">Commentaires</a></li>
            <li><a href="http://localhost:4200/portfolio/{{prestataire.id}}#disponibilite">Disponobiltés</a></li>

          </ol>
        </div>
      </div>
      <hr>
      <br>
      <div class="row" id="details"> 
        <div class="col-lg-4 d-inline-block">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src={{prestataire.photo}} alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3 prest_name">{{prestataire.firstname}}</h5>
							<div class="status"><i class="fa fa-solid fa-globe"></i><b>{{prestataire.address}}</b></div>
              <div><i class="fa fa-star" aria-hidden="true"></i><b class="tags"> 4.5</b></div>
              <p class="card-text small"> {{prestataire.competence}}  </p>
                <div class="d-flex justify-content-center mb-2">
                <a routerLink="/besoin/1" class="btn btn-success button-text"> Demander un service</a>
                <button (click)="openChat()">Discussion with Prestataire</button>  
              </div>
            </div>
          </div> 
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
             
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><i class="fa fa-user" style="color: #9C27B0;"></i>  Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{prestataire.firstname}} {{prestataire.lastname}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><i class="fa fa-envelope" style="color: #31a59a;"></i>Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{prestataire.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><i class="fa fa-phone" style="color: #c3473d;"></i>Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{prestataire.phone}}</p>
                </div>
              </div> 
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><i class="fa fa-globe" style="color: #260606;"></i> Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{prestataire.address}}</p>
                </div>
              </div>
            </div>
          </div>
 
         <div class="row">

          <div class=" col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Services Fait Avec Succés</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">20</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Clients</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
         </div>
        </div>
      </div>
  

    </div>
  </section>

  <section class="bg_grey" id="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title_header">Services</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let job of mesJobs"> 
         <div class="card card_service">
           <img src="{{job.pictureUrl}}" class="card-img-top" alt="Sunset Over the Sea">
           <div class="card-body">
            <h1>{{job.title}}</h1>
            <span>Category name</span>
             <p class="card-text">
              {{job.description}}
             </p>
           </div>
         </div>
        </div>
     </div>
     <div class="spacer50"></div>
    </div>
  </section> 
  <section id="reviews">  
    <div class="container"> 
     <div class="row">
      <div class="col-md-12">
        <h2 class="title_header">Disponibilités</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let disponiliblity of availability">
 
        <div [ngClass]="disponiliblity.actif ? 'alert alert-success' : 'alert alert-danger'"
         role="alert"  >
          <b>{{capitalize(disponiliblity.jour)}}</b><br>
          Heure de début de travail: {{disponiliblity.heure_debut}} <br>
          Heure de fin de: {{disponiliblity.heure_fin}}<br>
          Active : {{disponiliblity.actif ? "Oui" : "Non"}}
        </div>
      </div>
    </div>
    </div>
    <div class="spacer40"></div>
  </section>
  <section id="reviews" class="bg_grey">  
    <div class="container">
     <div class="row">
      <div class="col-md-12">
        <h2 class="title_header">Commentaires</h2>
      </div>
    </div>

    <div class="row">
      <div class="row d-flex">
        <div class="col-md-8" >
          <div class="card text-dark" *ngFor="let review of reviews">
            <div class="card-body p-4"> 
              <div class="d-flex flex-start">
                <img class="rounded-circle shadow-1-strong me-3 img_review" src="https://st.depositphotos.com/2218212/2938/i/450/depositphotos_29387653-stock-photo-facebook-profile.jpg" alt="avatar" width="60" height="60">
                <div>
                  <h6 class="fw-bold mb-1">Prénom</h6>
                  <div class="d-flex align-items-center ">
                    <p class="mb-0 padding_right_5">
                       {{review.created_at| date:'mediumDate'}}  
                    </p> 
                    <i class="fa fa-star active_star" *ngFor="let i of getNumberArray(review.rating)"> </i>  
                    <i class="fa fa-star-o inactive" *ngFor="let i of getNumberArray(5-review.rating)"> </i>  
                  </div>
                  <span class="badge bg-primary badge_categ">Bricolage</span>
                  <p class="mb-0">
                   {{review.comment}}
                  </p>
                </div>
              </div>
            </div> 
            <hr class="my-0" style="height: 1px;"> 
          </div>
        </div>

        <div class="col-md-4">
         
          <div class="card card_review containerRating"> 
          <h3>Ajouter un commentaire</h3> 
            <div class="star-widget" >
              <input type="radio" name="rate" id="rate-1"  [(ngModel)]="rating" value="1">
              <label for="rate-1" class="fas fa fa-star"></label>
              <input type="radio" name="rate" id="rate-2"  [(ngModel)]="rating" value="2">
              <label for="rate-2" class="fas fa fa-star"></label>
              <input type="radio" name="rate" id="rate-3" [(ngModel)]="rating" value="3">
              <label for="rate-3" class="fas fa fa-star"></label>
              <input type="radio" name="rate" id="rate-4"[(ngModel)]="rating" value="4">
              <label for="rate-4" class="fas fa fa-star"></label> 
              <input type="radio" name="rate" id="rate-5" [(ngModel)]="rating" value="5">
              <label for="rate-5" class="fas fa fa-star"></label> 
                
                   <form (ngSubmit)="submitReview()" #reviewForm="ngForm">
                    <header></header>
                    <div class="textarea">
                      <textarea cols="30" placeholder="Décrivez votre expérience" [(ngModel)]="comment" name="comment" required></textarea>
                    </div>
                    <div class="btn">
  
                      <button type="submit" (click)="review()" [disabled]="!reviewForm.valid">Poster</button>
                    </div>
                </form>
             </div>
          
        </div>
        </div>
      </div>
    </div>
    </div>
    <form [formGroup]="messageForm" (ngSubmit)="sendToJobber()">
      <div class="form-group">
        <label for="text_message">Message</label>
        <textarea class="form-control" id="text_message" rows="3" formControlName="text_message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
    </form>    
  </section> 

 
</body>
</html>