<header class="header">
    <div class="container">
        <div class="header__wrapper">
        <div class="logo">
     <h1>logo </h1></div>
     <div class="navigation">
          <ul class="nav__list">
              <li class="nav__item" ><a routerLink="/home" class="active__nav">Acceuil</a></li>
             <li class="nav__item"><a href="/service">Services</a></li>
             <li class="nav__item"><a href="/category">Catégories</a></li>
             <li class="nav__item"><a href="/prestataire">Prestataire</a></li>
             <li class="nav__item"><a routerLink="/compte">inscription</a></li>
             <li class="nav__item"><a routerLink="/login">connexion</a></li>
             <li class="nav__item"><a routerLink="/contact">Contact</a></li>
         </ul>
      </div>
    </div>
</div>
</header>