body{background-color: beige;}
.nav__list .nav__item a{
    color:#000000;
    text-decoration: none;
    font-size:0.5rem;
    position: relative;
    right: -103px; 
    top: 6px;
}
.header{
    width:100%; 
    background-color:white;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.nav__list .nav__item a {
	color: #000000;
	text-decoration: none;
	font-size: 0.5rem;
}
.header {
	width: 100%;
	background-color: white;
} 
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.nav__list {
	list-style: none;
	display: flex;
	align-items: center;
	column-gap: 2rem; 
}
.navigation {
	display: fex;
	align-items: center;
	column-gap: 2rem;
}
.logo h1 {
	color:#151450;
}
.nav__list .nav__item a {
	color: var(--menu-color);
	text-decoration: none;
	font-size: 20px;
}
.user_name_menu a {
	font-weight: bold;
	color: var(--black-color) !important;
	font-size: 22px !important;
}
.h1{
position: relative;
font-size: 14Vw;
color:#252839;
-webkit-text-stroke:0.3vw #383d52;
text-transform: uppercase;
}

h1::before
{
	content:attr(data-text);
	position: absolute;
	top:20px;
	left:60px;
	width: 80px;
	height: 10%;
	color: #07083b;
	-webkit-text-stroke: 0vw #383d52;
	border-right: 2px  solid #275080;
    overflow: hidden;
	animation: animate 6s linear infinite;
}
@keyframes animate
{
	0%,10%,100%
	{
		width: 0;
	}
	70%,90%
	{
		width:12%;
	}
}