body{background-color: beige;}
.nav__list .nav__item a{
    color:#000000;
    text-decoration: none;
    font-size:0.5rem;
    position: relative;
    right: -103px; 
    top: 6px;
}
.header{
    width:100%; 
    background-color:white;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.nav__list .nav__item a {
	color: #000000;
	text-decoration: none;
	font-size: 0.5rem;
}
.header {
	width: 100%;
	background-color: white;
} 
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.nav__list {
	list-style: none;
	display: flex;
	align-items: center;
	column-gap: 2rem; 
}
.navigation {
	display: fex;
	align-items: center;
	column-gap: 2rem;
}
.logo h1 {
	color:#151450;
}
.nav__list .nav__item a {
	color: var(--menu-color);
	text-decoration: none;
	font-size: 20px;
}
.user_name_menu a {
	font-weight: bold;
	color: var(--black-color) !important;
	font-size: 22px !important;
}