/* You can add global styles to this file, and also import other style files */
:root {
    --body-bg-color: #05043e;
    --card-primary-color: #151450;
    --card-secondary-color: #211c5c;
    --btn-bg-color: #7259db;
    --secondary-color:#7259db;
    --icon-bg-01: #f7a025;
    --icon-bg-02: #2d70ab;
    --icon-bg-03: #fe1161;
    --icon-bg-04: #0389fe;
    --text-small :1rem ;
    --text-heading : 2rem;
    font-family: 'Poppins', sans-serif; 
    --dark-blue: #010c4a;
    --white-color:#ffffff;
    --black-color:#000000;
    --menu-color:#020c4a;
    --purple-color:#b500fc;
    --yellow-btn :#ab702a;
    --green-btn : #146c43;
}
p{
    font-size: 19px;
}
h1,h2,
body{
    font-family: "Poppins",sans-serif;
} 
.container{
    margin: 0 auto;
}

.main_content{
    padding-left: 150px!important;
    margin-top: 100px!important;
}
.custom-btn{ 
    color: #fff!important;
    border-radius: 4px!important;
    padding: 10px 15px!important; 
}
.btn_purlpe{
    background-color: #3F51B5; 
    border: 2px solid #3F51B5;
}
.btn-danger{
    margin-right: 15px;
}
.margin_right10{
    margin-right: 10px;
    margin-left: 10px;
}
.float_right{
    float: right;
}
.table_header_title{
    margin-top: 10px;
    font-weight: bold;
    color: #211b5c;
}
 
.input-field{
    display:flex;
    align-items: center;
    cursor:pointer;
    border:1px solid #000;
    border: 1px solid rgb(2 12 74 / 10%)!important;
    color: var(--dark-blue)!important;
    border-radius: 5px;
    padding: 5px; 
    align-items: center; 
}
.input-field.error{
    border:1px solid var(--icon-bg-03);
    color:var(--icon-bg-03);
}
.panel-heading h3{
    font-size: 35px;
    color: var(--dark-blue);
}
textarea,
input[type='email'],
input[type='text'],
input[type='password']{
    border:none;
    outline:none;
    box-shadow: none; 
}
.addres_text textarea{
    padding-left: 25px;
    width: 100%;
}
.addres_text {
    position: relative;
}
.addres_text .fa{
    position: absolute;
    top: 0;
}
.fa-eye,
.fa-eye-slash{ 
    position: relative;
    float: right;
    padding-top: 4px;
    padding-right: 5px;
    padding-left: 3px;
}
.alert-danger{
    margin-top: 20px;
}
 
/*
* Start Form part
**/

.form-inline label{
    padding-left:10px;
    margin:0;
    cursor: pointer;
    width: 70%;
} 
.panel{
    min-height:380;
    box-shadow: 20px 20px 80px rgb(218,218, 218);
    border-radius: 12px;
    margin-top:100px;
}
.fa-eye-slash.btn{
    border:none;
    outline: none;
    box-shadow: none;
}
/*img{
    width:40px;
    height:40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}*/
.bordert{
    border-top: 1px solid #aaaa;
    position:relative;
}
.bordert:after{
    content:"or connect with ";
    position:absolute;
    top:-13px;
    left:33%;
    background-color: #ffff;
    padding: 0 8px ;
}
   
.btn{
    margin-top: 20px;
    border-radius: 8px;
    background-color: var(--yellow-btn)!important;
    color: var(--white-color)!important;
    border: 1px solid;
    padding: 15px; 
}
.btn:hover{
    color: var(--yellow-btn)!important;
    background-color: var(--white-color)!important;
    border-color:var(--yellow-btn)!important;
}
 
.form-control:focus {
    border-color: inherit!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;


  }
  
.btn-success{
    background-color: var(--bs-btn-bg)!important;
}
.btn-success:hover{
    color: var(--bs-btn-bg)!important;
    background-color:white!important;
    border-color:var(--bs-btn-bg)!important;
}

.btn-primary .fa{
    color: white!important;
}
.btn-primary{
    background-color:#0d6efd!important;
    color: white!important;
}
.btn-primary:hover{
    color: #0d6efd!important;
    background-color:white!important;
    border-color:#0d6efd!important;
}


.btn-danger{
    background-color:#dc3545!important;
    color: white!important;
}
.btn-danger:hover{
    color: #dc3545!important;
    background-color:white!important;
    border-color:#dc3545!important;
}

.space50{
    height: 50px;
}

.btn_outline,
.btn_marron{
    border: none;
    background: var(--yellow-btn);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    padding: 8px 25px;
}
.btn_outline{
    border:1px solid var(--dark-blue)!important;
    color: var(--dark-blue)!important;
    background-color: var(--white-color)!important;
}
.btn_outline:hover{
    color: var(--white-color)!important;
    background-color: var(--dark-blue)!important;
    border:1px solid var(--dark-blue)!important;
}
.btn_marron:hover,
.btn:hover{
    color: var(--yellow-btn)!important;
    background-color: var(--white-color)!important;
    border:0px solid var(--yellow-btn)!important;
}

.dark_section{
    background:radial-gradient(circle,rgba(34,128,193,1) 0% ,
    rgba(9,9,121,1)65%,rgba(9,9, 121, 1)100%);
  }
  .sub_page_title{
    text-align: center;
    padding-top: 80px;
    color: var(--white-color);
    margin-bottom: 90px;
  }
 
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 25px;
    font-size: 18px;
    outline: none;
    border: 1px solid #222;
  }
  .margin_right_15{
    margin-right: 10px;
  }
.btn-success:hover{
    border: 1px solid var(--green-btn)!important;
    color: var(--green-btn)!important;
}
.btn-primary:hover{
    border: 1px solid var(--icon-bg-04)!important;
    color: var(--icon-bg-04)!important; 
}
@media (min-width: 1200px){

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1220px  !important; 
    }
}
