<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
  
</head>

<body>
    <!-- =============== Navigation ================ -->
    <app-sidebar-admin></app-sidebar-admin>
    <div class="main">
        <div class="container"> 
             <div class="row">
                <div class="col-md-8 title-page">
                    <h3>Gérer les utilisateurs</h3>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn_action" (click)="showForm()">Ajouter compte</button>
                </div>
             </div>
                     
                <!-- Main content goes here -->
                <div class="details">
                    <div class="recentOrders">
                        
                        <table>
                            <thead>
                                <tr>
                                    <td>Id</td>
                                    <td>Nom & Prénom</td> 
                                    <td>Role</td>
                                    <td>Email</td> 
                                    <td>Adresse</td>
                                    <td>Phone</td>
                                    <td>Compétence</td>  
                                    <td colspan="3">Action</td>
                                </tr>
                            </thead>
    
                            <tbody>
                              <tr  *ngFor="let user of users">
                                <td>{{ user.id }}</td>
                                <td>{{ user.firstname }} {{ user.lastname}}</td> 
                                <td>{{ user.role }}</td>
                                <td>{{ user.email }}</td> 
                                <td>{{ user.address }}</td>
                                <td>{{ user.phone }}</td>
                                <td>{{user.competence}}</td> 
                                <td>  
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button (click)="onDeleteUser(user)" class="btn btn-danger"> <i class="fa fa fa-trash"></i> Supprimer
                                              </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button (click)="editform()" class="btn btn-success"> <i class="fa fa fa-pencil"></i> Modifier
                                           </button>
                                        </div>
                                    </div>
                                   
                                   
                              </td>
                            </tbody>
                        </table>
                    </div> 
              </div>
              
        </div>
       
    </div>
 
    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>