<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
  
</head>

<body>
    <!-- =============== Navigation ================ -->

    <div class="container">
        <div class="sidebar">
            <!-- Sidebar content goes here -->
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <div class="content">
            <!-- Main content goes here -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Gérer les utilisateurs</h2>
                        <button (click)="showForm()">Ajouter compte</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Prénom</td>
                                <td>Nom</td>
                                <td>Role</td>
                                <td>Email_verification</td>
                                <td>Mot de passe</td>
                                <td>adresse</td>
                                <td>numéro de téléphone</td>
                                <td>Compétence</td>
                                <td>numero_cin</td>
                                <td>Action</td>
                            </tr>
                        </thead>

                        <tbody>
                          <tr  *ngFor="let user of users">
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname}}</td>
                            <td>{{ user.role }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.password }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{user.competence}}</td>
                            <td>{{ user.numero_cin }}</td>
                            <td></td>
                            <td>  
                                <td><button (click)="onDeleteUser(user)">
                                  <i class="fa fa fa-trash"></i> Supprimer
                                </button>
                                <button (click)="editform()">
                                    <i class="fa fa fa-trash"></i> Edit
                                  </button>
                          </td>
                        </tbody>
                    </table>
                </div> 
          </div>
          </div>
    </div>
   
    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>