
    
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Date and Time Availability</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta1/css/bootstrap.min.css" integrity="sha512-GrvCzLupm8mP0yNKl45ap+SOX9FArx0jl0dCZJ5bd5jKf3zPq3sjnSwBPxs1kweRiXjHxJ8+dPvg01HIjgG7Vw==" crossorigin="anonymous" />
  </head>
  <body>
    <app-nav></app-nav>
    <section>
      <div class="container">
        <h1></h1>
        <form>
          <div class="mb-3">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" name="date">
          </div>
          <div class="mb-3">
            <label for="time">Time:</label>
            <input type="time" class="form-control" id="time" name="time">
          </div>
          <button type="submit" class="btn btn-primary">Check Availability</button>

          <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
      </div>
   
    </section>
  
  </body>
  </html>
  
      



