<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar class="fixed-top"></app-navbar>
  <div class="f">
    <div class="container">
      <form [formGroup]="disponibiliteForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="actif">Actif:</label>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="actif" formControlName="actif">
            <label class="form-check-label" for="actif">Actif</label>
          </div>
        </div>
        <div class="form-group">
          <label for="heure_debut">heure_debut de travail</label>
          <input type="text" class="form-control" id="heure_debut" formControlName="heure_debut">
        </div>
        <div class="form-group">
          <label for="heure_fin">heure_fin de travail</label>
          <input type="text" class="form-control" id="heure_fin" formControlName="heure_fin">
        </div>
        <div class="form-group">
          <label for="jour">Jour:</label>
          <select class="form-control" id="jour" formControlName="jour">
            <option value="lundi">Lundi</option>
            <option value="mardi">Mardi</option>
            <option value="mercredi">Mercredi</option>
            <option value="jeudi">Jeudi</option>
            <option value="vendredi">Vendredi</option>
            <option value="samedi">Samedi</option>
            <option value="dimanche">Dimanche</option>
          </select>
        </div>
        <button type="submit" [disabled]="disponibiliteForm.invalid" class="btn btn-primary">Update Disponibilite</button>
         
      </form>
      </div>
  </div>
 </body>
</html>
